<configuration debug="true">
    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/@project.artifactId@/@project.artifactId@.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/@project.artifactId@/@project.artifactId@.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss,SSS} %-5p [%c] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="SECURITY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/@project.artifactId@/@project.artifactId@-security.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/@project.artifactId@/@project.artifactId@-security.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss,SSS} %-5p [%c] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss,SSS} %-5p [%c] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.security" level="debug">
        <appender-ref ref="SECURITY"/>
    </logger>
    <logger name="gov.epa.oeca" level="info"/>
    <logger name="org.flywaydb" level="info"/>
    <root level="warn">
        <appender-ref ref="APPLICATION"/>
    </root>
</configuration>